<div class="client-form">
    <h3>Generate Client Certificate</h3>
      <Form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" [formControl]="name" required>
            <mat-error *ngIf="(name.touched || submitted) && name.hasError('required')">Client name is required</mat-error>
            <mat-error *ngIf="name.touched && name.hasError('invalid')">Enter a valid name</mat-error>
          </mat-form-field>      
          <p>   
            <button mat-raised-button type="submit" color="primary">Save Vars Settings</button>  
          </p>
      </Form>
  </div>
