<div class="vars-list">
    <h3>List of Vars Settings</h3>
    <table mat-table [dataSource]="issuers" class="mat-elevation-z8">
        <!-- Common Name Column -->
        <ng-container matColumnDef="common-name">
            <th mat-header-cell *matHeaderCellDef> Common Name </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.commonName}} </td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.country}} </td>
        </ng-container>

        <!-- Province Column -->
        <ng-container matColumnDef="province">
            <th mat-header-cell *matHeaderCellDef> Province </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.province}} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.city}} </td>
        </ng-container>

        <!-- Organization Column -->
        <ng-container matColumnDef="organization">
            <th mat-header-cell *matHeaderCellDef> Organization </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.organization}} </td>
        </ng-container>

        <!-- Organizational Unit Column -->
        <ng-container matColumnDef="organizational-unit">
            <th mat-header-cell *matHeaderCellDef> Organizational Unit </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.organizationalUnit}} </td>
        </ng-container>        

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.email}} </td>
        </ng-container>             

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let issuer; columns: displayedColumns;" (click)="onClick(issuer.id)"></tr>
    </table>
</div>