<div *ngIf="isWaitingForServer()" class="center"> 
    <mat-spinner></mat-spinner>
</div>
<div class="vars-table">
    <h3>List of Vars Settings</h3>
    <table mat-table [dataSource]="issuers" multiTemplateDataRows class="mat-elevation-z8">
        <!-- Common Name Column -->
        <ng-container matColumnDef="common-name">
            <th mat-header-cell *matHeaderCellDef> Common Name </th>
            <td mat-cell *matCellDef="let issuer" (click)="onListCertificates(issuer.id)"> {{issuer.commonName}} </td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.country}} </td>
        </ng-container>

        <!-- Province Column -->
        <ng-container matColumnDef="province">
            <th mat-header-cell *matHeaderCellDef> Province </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.province}} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.city}} </td>
        </ng-container>

        <!-- Organization Column -->
        <ng-container matColumnDef="organization">
            <th mat-header-cell *matHeaderCellDef> Organization </th>
            <td mat-cell *matCellDef="let issuer" (click)="onClick(issuer.id)"> {{issuer.organization}} </td>
        </ng-container>

        <!-- Organizational Unit Column -->
        <ng-container matColumnDef="organizational-unit">
            <th mat-header-cell *matHeaderCellDef> Organizational Unit </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.organizationalUnit}} </td>
        </ng-container>        

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let issuer"> {{issuer.email}} </td>
        </ng-container>       

        <!-- INIT Column -->
        <ng-container matColumnDef="init">
            <th mat-header-cell *matHeaderCellDef> Init </th>
            <td mat-cell *matCellDef="let issuer"><button mat-raised-button type="button" color="primary" 
                [disabled]="issuer.status != 'Created_Vars'" (click)="OnInitPKI(issuer.id, issuer.commonName)">Init</button>
            </td>  
        </ng-container>    

        <!-- CA Column -->
        <ng-container matColumnDef="CA">
            <th mat-header-cell *matHeaderCellDef> CA </th>
            <td mat-cell *matCellDef="let issuer"><button mat-raised-button type="button" color="primary" 
                [disabled]="issuer.status != 'Initialized_PKI'" (click)="onGenerateCA(issuer.id, issuer.commonName)">CA</button>
            </td>  
        </ng-container>          

        <!-- DH Column -->
        <ng-container matColumnDef="DH">
            <th mat-header-cell *matHeaderCellDef> DH </th>
            <td mat-cell *matCellDef="let issuer"><button mat-raised-button type="button" color="primary" 
                [disabled]="issuer.status != 'Generated_CA'" (click)="onGenerateDH(issuer.id, issuer.commonName)">DH</button>
            </td>  
        </ng-container> 

        <!-- Server Column -->
        <ng-container matColumnDef="server">
            <th mat-header-cell *matHeaderCellDef> Server </th>
            <td mat-cell *matCellDef="let issuer"><button mat-raised-button type="button" color="primary" 
                [disabled]="issuer.status != 'Generated_DH'" (click)="onGenerateServerCertificate(issuer.id, issuer.commonName)">Server</button>
            </td>  
        </ng-container>  

        <!-- TA Column -->

        <ng-container matColumnDef="TA">
            <th mat-header-cell *matHeaderCellDef> TA </th>
            <td mat-cell *matCellDef="let issuer">
                <button mat-raised-button type="button" color="primary" 
                [disabled]="issuer.status != 'Generated_Server'" (click)="onGenerateTA(issuer.id, issuer.commonName)">TA</button>
            </td>  
        </ng-container>  

        <!-- Client Column -->
        <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Client </th>
            <td mat-cell *matCellDef="let issuer"><button mat-raised-button type="button" color="primary" 
                [disabled]="issuer.status != 'Generated_TA'" (click)="onGenerateClientCertificates(issuer.id, issuer.commonName)">Client</button>
            </td>  
        </ng-container> 

        <!-- List of clients -->
        <!-- <ng-container matColumnDef="expandedDetail">       
            <td mat-cell *matCellDef="let issuer " [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail" *ngIf="issuer.status == 'Generated_Client'" [@detailExpand]=" issuer == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
                        <table #innerTables mat-table #innerSort="matSort" [dataSource]="clients!" matSort>
                            <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayedColumns">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn}} </th>
                            <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </td>  
        </ng-container>    -->
          
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let issuer; columns: displayedColumns;" (click)="toggleRow(issuer)"> </tr> -->
        <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->

        <tr mat-row *matRowDef="let issuer; columns: displayedColumns;" (click)="onClick(issuer.id)"></tr>
    </table>
</div>