app-header {
    margin-top: 2vmin;
    display: block;
}

app-footer {
    margin-top: 5vmin;
    text-align: right;
}

main {
    width: 100%;
    margin-top: 1.5rem;
}

a {
    color: #61dafb;
}

.app-logo {
    height: 8vmin !important;
    pointer-events: none;
}

.app-Buttons {
    width: 50vmax;
    margin: auto;
    text-align: center;
}

.center {
    text-align: center;
}