@media all and (min-width: 480px) {
  .certificate-form {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 500px;
    
    .top-buttons {
      text-align: left;
      &::ng-deep button {
          margin-right: 1vmin;
      }
      padding-bottom: 1vmin;
    }

    .show {
      background-color: gray;
      color: white;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    p {
      margin-top: 1.5rem;
    }
  }

  .certificate-table {
    text-align: center;

    table {
      width: 90%;
      margin: 0 auto;
      text-align: left;

      .mat-column-common-name {
        width: 13;
      }
      
      .mat-column-country {
        width: 5%;
      }
      
      .mat-column-province {
        width: 12%;
      }
      
      .mat-column-city {
        width: 12%;
      }    
  
      .mat-column-organization {
        width: 13%;
      }    
  
      .mat-column-organizational-unit {
        width: 12%;
      }    
  
      .mat-column-email {
        width: 12%;
      }    

      .mat-column-CA {
        width: 5%;
      }    

      .mat-column-DH {
        width: 5%;
      }   
  
      .mat-column-Server {
        width: 5%;
      }   

      .mat-column-Clients {
        width: 5%;
      }   

      .mat-row .mat-column-common-name,
      .mat-row .mat-column-country,
      .mat-row .mat-column-province,
      .mat-row .mat-column-city,
      .mat-row .mat-column-organization
      {
        cursor: pointer;
      }
      
      .mat-row:hover .mat-column-common-name, 
      .mat-row:hover .mat-column-country,
      .mat-row:hover .mat-column-province,
      .mat-row:hover .mat-column-city,
      .mat-row:hover .mat-column-organization
      {
        background-color: grey;
        color: white;
      }
    }
  }
}
